/* General styles */
* {
    /* reset */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #34495e;
    color: #333;
    font-family: Roboto, sans-serif;
    height: 100%;
}

.text-center {
    text-align: center;
}

.text-error {
    border: 1px solid #c0392b;
    border-radius: 3px;
    background-color: rgba(192, 57, 43, 0.2);
    color: #c0392b;
    font-size: 13px;
    font-weight: 500;
    padding: 10px;
    position: relative;
    margin-top: 15px;
}

/* small arrow css design */
.text-error:after, .arrow_box:before {
	bottom: 100%;
	left: 20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
}

.text-error:after {
	border-bottom-color: #c0392b;
	border-width: 10px;
	margin-left: -10px;
}

.text-error:before {
	border-bottom-color: #c0392b;
	border-width: 13px;
	margin-left: -13px;
}

/* Fancy button style */
.fancy-btn {
    background-color: #3498db;
    border-radius: 5px;
    border: 2px solid #2980b9;
    border-bottom-width: 6px;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    text-decoration: none;
    transition: all 100ms ease-in;
}

.fancy-btn:active {
    /* clicking effect */
    border-bottom-width: 2px;
    top: calc(50% + 4px);
}

.position-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Modal styles */
.modal-container {
    background-color: rgba(40, 40, 40, 0.5);
    display: none;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.modal {
    background-color: #fff;
    position: relative;
    padding: 20px;
    transform: translateX(-50%);
    margin: 30px 0 30px 50%;
    width: 500px;
}

.modal-header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

/* Image holder style */
.brand-image-holder {
    position: absolute;
    top: 20px;
    left: 20px;
}

/* Initially hide all images */
.brand-image-holder img {
    width: 80%;
    display: none;
}

.form-item-container {
    padding: 8px 0;
    width: 100%;
}

.form-item-container label {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-item-container input[type='text'], .form-item-container select, .form-item-container textarea {
    border: 1px solid #ccc;
    border-radius: 0;
    font-size: 13px;
    padding: 8px 10px;
    width: 100%;
    max-width: 100%;
}

.form-item-container input[type='text'] {
    border-bottom: 4px solid #ccc;
}

.form-item-container input[type='submit'] {
    font-size: 15px;
    width: 100%;
}

.form-item-container input[type='submit']:active {
    /* for the clicking effect */
    margin-top: 4px;
}

/* Initially we hide the damage details container */
#damage-details-container{
    display: none;
}

/* Color span for selected color */
.selected-color {
    border: 0px solid black;
    display: inline-block;
    margin-bottom: -2px;
    margin-left: 10px;
    height: 15px;
    width: 15px;
}

/* Close modal button style */
#close-modal {
    position: absolute;
    top: 5px;
    right: 5px;
}

#close-modal img {
    width: 30px;
}
